{% extends "planner/base.html" %}

{% block title%}
    <title>Planner - Home</title>
{% endblock title %}

{% block nav %}
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{% url 'add_task' %}" class="nav-link">Add task</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Ready</a></li>
      </ul>
{% endblock nav %}

{% block content %}
<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Task</th>
          <th scope="col">Deadline</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
      {% if latest_task_list %}
      {% for task in latest_task_list %}
        <tr>
          <th scope="row"><a href="{% url 'view_task' task.pk %}">Подробнее</a></th>
          <td>{{ task.title }}</td>
          <td>{{ task.end_date }}</td>
          <td>{{ task.status }}</td>
        </tr>
      {% endfor %}
      {% endif %}
      </tbody>
    </table>
{% endblock content %}
</div>
