{% extends 'planner/base.html' %}

{% block content %}
<div class="container text-center">
{% for task in latest_task_list %}
  <div class="row mb-5">
    <div class="col">
      {{ task.start_date }}
    </div>
    <div class="col-6">
      <h1>{{ task.title }}</h1>
    </div>
    <div class="col">
      {{ task.end_date }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{ task.task }}
    </div>
    <div class="col">
      {{ task.status }}
    </div>
  </div>
{% endfor %}
</div>

{% endblock content %}