{% extends 'planner/base.html' %}

{% block content %}
<div class="container text-center">
{% for task in latest_task_list %}
  <div class="mb-5 text-center">
    <div class="">
      <h2>{{ task.title }}</h2>
    </div>
    <div class="text-center">
      <p>{{ task.task }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Start task</p>
      <p>{{ task.start_date }}</p>
    </div>
    <div class="col">
      <p>Deadline</p>
      <p>{{ task.end_date }}</p>
    </div>
    <div class="col">
      <p>Status</p>
      {% if task.status == 'Выполнено' %}
        <p class="badge text-bg-success rounded-pill">{{ task.status }}</p>
      {% else %}
        <p class="badge text-bg-warning rounded-pill">{{ task.status }}</p>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
<div class="container text-center">
    {% for task in latest_task_list %}
  <form action="{% url 'view_task' task.pk %}" method="post">
        {% csrf_token %}
        <div class="row-form-errors">{{ form.non_field_errors }}</div>
        {% for field in form %}
            {{ field.label }}:
            {{ field }}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Change</button>
    </form>
    {% endfor %}
</div>
{% endblock content %}